body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(left, #feffff 0%, #d2ebf9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #feffff 0%,#d2ebf9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #feffff 0%,#d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=1 ); /* IE6-9 */
}

#carousel {
    border-radius: 15px;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*I used this answer to make the images fill the entire carousel div:
https://stackoverflow.com/questions/14142378/css-filling-a-div-with-an-image-while-staying-in-proportion*/

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

}

#carousel img {
  flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

button {
  margin-top: 20px;
  display:
}

.circle {
  border-radius: 50%;
	width: 20px;
	height: 20px;
  border: 2px solid black;
  margin-top: 20px;
  display: inline-block;
}

/*Used the @media code from here:
https://stackoverflow.com/questions/12632500/making-div-content-responsive*/

@media only screen and (max-width: 479px){
    #carousel { width: 90%; }
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

.active {
  background-color: black;
}
