#carousel {
    border-radius: 15px;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    margin-top: 20px;
}

button {
  margin-top: 20px;
}

.circle {
  border-radius: 50%;
	width: 20px;
	height: 20px;
  border: 2px solid black;
  margin-top: 350px;
}
